---
import { Image } from 'astro:assets'
import serverError from '@assets/500.svg'
import { Icon } from 'astro-icon'
---

<div class="flex flex-col justify-center items-center px-6 mx-auto h-screen xl:px-0 dark:bg-gray-900">
	<div class="block md:max-w-lg">
		<Image src={serverError} alt="astronaut image" />
	</div>
	<div class="text-center xl:max-w-4xl">
		<h1 class="mb-3 text-2xl font-bold leading-tight text-gray-900 sm:text-4xl lg:text-5xl dark:text-white">
			Something has gone seriously wrong
		</h1>
		<p class="mb-5 text-base font-normal text-gray-500 md:text-lg dark:text-gray-400">
			It's always time for a coffee break. We should be back by the time you finish your coffee.
		</p>
		<a
			href="/"
			class="text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center mr-3 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
		>
			<Icon name="arrow_left" class="mr-2 -ml-1 w-5 h-5" />
			 Go back home
		</a>
	</div>
</div>
